<div>
    <p> quote: {{quote.quote}}</p>
<p>This quote was posted {{quote.datePosted|datePost}} days ago</p>
<p> publisher: {{quote.publisher}}</p>
<div class="container-fluid" id="button">
    <!-- <button class="btn btn-sm-success" (click)='upvote'>{{quote.like}} <i id="like"></i></button>
<button class="btn btn-sm-hate" (click)='downvote'>{{quote.dislike}} <i  id="dislike"></i></button> -->


</div>

</div>
<!-- <button (click)= 'quoteComplete(true)'>Complete</button> -->


<!-- <p> publisher: {{quote.publisher}}</p>
!-- <div class="container" style="color: black; font-weight: bolder;">
    <p>{{quote.description}}</p>
    <p>This quote will be complete in {{quote.completeDate|dateCount}} days</p>
    </div>
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete quote</button> -->

     